<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GS.LogView.Properties.LogView" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="GS.LogView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <GS.LogView.Properties.LogView>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ThirdColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="FourthColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="RaColor" serializeAs="String">
                <value>CadetBlue</value>
            </setting>
            <setting name="DecColor" serializeAs="String">
                <value>IndianRed</value>
            </setting>
            <setting name="RaLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RaBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RaStep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DecLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DecBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DecStep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThirdLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThirdBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThirdStep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FourthLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FourthBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FourthStep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableAnimations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnimationTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LineSmoothness" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LineSize" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="PointSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0</value>
            </setting>
        </GS.LogView.Properties.LogView>
        <GS.LogView.Properties.Settings>
            <setting name="WindowState" serializeAs="String">
                <value/>
            </setting>
        </GS.LogView.Properties.Settings>
    </userSettings>
</configuration>
