<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GS.Shared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GS.Shared.Properties.Monitor" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
      <GS.Shared.Properties.Monitor>
        <setting name="ServerDevice" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Telescope" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Information" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Data" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Warning" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Error" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Other" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Driver" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Interface" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Server" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Version" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="LogSession" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="Mount" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="LogCharting" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="LogMonitor" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="StartMonitor" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Language" serializeAs="String">
          <value>en-US</value>
        </setting>
        <setting name="Alignment" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Ui" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Debug" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="LogPath" serializeAs="String">
          <value>0</value>
        </setting>
      </GS.Shared.Properties.Monitor>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
