<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GS.Server.Properties.Focuser" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GS.Server.Properties.Alignment" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GS.Server.Properties.Pec" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GS.Server.Properties.Gamepad" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GS.Server.Properties.Server" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GS.Server.Properties.SkyTelescope" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <GS.Server.Properties.Alignment>
            <setting name="IsAlignmentOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProximityLimit" serializeAs="String">
                <value>0.27777777</value>
            </setting>
            <setting name="ClearModelOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlignmentBehaviour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActivePoints" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ThreePointAlgorithm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlignmentWarningThreshold" serializeAs="String">
                <value>2</value>
            </setting>
        </GS.Server.Properties.Alignment>
        <GS.Server.Properties.Focuser>
            <setting name="DeviceId" serializeAs="String">
                <value />
            </setting>
            <setting name="StepSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DevicePollingInterval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
            <setting name="ReverseDirection" serializeAs="String">
                <value>False</value>
            </setting>
        </GS.Server.Properties.Focuser>
        <GS.Server.Properties.Pec>
            <setting name="WorkingDir" serializeAs="String">
                <value>c:</value>
            </setting>
            <setting name="InvertCapture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeStampFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterLowPass" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FilterMag" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CaptureCycles" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AutoApply" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Threshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Gain" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PecFile" serializeAs="String">
                <value>pec.txt</value>
            </setting>
            <setting name="PhaseShift" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxRateAdjust" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DynamicRateAdjust" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0</value>
            </setting>
        </GS.Server.Properties.Pec>
        <GS.Server.Properties.Gamepad>
            <setting name="tracking" serializeAs="String">
                <value>button 0</value>
            </setting>
            <setting name="stop" serializeAs="String">
                <value>button 1</value>
            </setting>
            <setting name="park" serializeAs="String">
                <value>button 2</value>
            </setting>
            <setting name="home" serializeAs="String">
                <value>button 3</value>
            </setting>
            <setting name="speeddown" serializeAs="String">
                <value>button 4</value>
            </setting>
            <setting name="speedup" serializeAs="String">
                <value>button 5</value>
            </setting>
            <setting name="up" serializeAs="String">
                <value>pov up 0</value>
            </setting>
            <setting name="down" serializeAs="String">
                <value>pov down 0</value>
            </setting>
            <setting name="left" serializeAs="String">
                <value>pov left 0</value>
            </setting>
            <setting name="right" serializeAs="String">
                <value>pov right 0</value>
            </setting>
            <setting name="volumedown" serializeAs="String">
                <value>zaxis high</value>
            </setting>
            <setting name="volumeup" serializeAs="String">
                <value>zaxis low</value>
            </setting>
            <setting name="Startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ratesidereal" serializeAs="String">
                <value />
            </setting>
            <setting name="ratelunar" serializeAs="String">
                <value />
            </setting>
            <setting name="ratesolar" serializeAs="String">
                <value />
            </setting>
            <setting name="rateking" serializeAs="String">
                <value />
            </setting>
            <setting name="abort" serializeAs="String">
                <value />
            </setting>
            <setting name="spiralin" serializeAs="String">
                <value />
            </setting>
            <setting name="spiralout" serializeAs="String">
                <value />
            </setting>
            <setting name="newspiral" serializeAs="String">
                <value />
            </setting>
            <setting name="sync" serializeAs="String">
                <value />
            </setting>
            <setting name="DoubleClickSpeed" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="focusin" serializeAs="String">
                <value />
            </setting>
            <setting name="focusout" serializeAs="String">
                <value />
            </setting>
        </GS.Server.Properties.Gamepad>
        <GS.Server.Properties.Server>
            <setting name="SleepMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VoiceName" serializeAs="String">
                <value>Microsoft Zira Desktop</value>
            </setting>
            <setting name="VoiceVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="VoiceActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkyWatcher" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Rotator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Focuser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Charting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>510</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Notes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DarkSkyKey" serializeAs="String">
                <value>3f69788eb1c931a32cc83059783a60f5</value>
            </setting>
            <setting name="Gamepad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrimaryColor" serializeAs="String">
                <value>grey</value>
            </setting>
            <setting name="AccentColor" serializeAs="String">
                <value>green</value>
            </setting>
            <setting name="Model3D" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Pulses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableHardwareAcceleration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PoleLocator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Plot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModelLookDirection1" serializeAs="String">
                <value>-2616, -3167, -1170</value>
            </setting>
            <setting name="ModelUpDirection1" serializeAs="String">
                <value>.35, .43, .82</value>
            </setting>
            <setting name="ModelPosition1" serializeAs="String">
                <value>2523, 3000, 1379</value>
            </setting>
            <setting name="ModelLookDirection2" serializeAs="String">
                <value>-900, -1100, -400</value>
            </setting>
            <setting name="ModelUpDirection2" serializeAs="String">
                <value>.35, .43, .82</value>
            </setting>
            <setting name="ModelPosition2" serializeAs="String">
                <value>900, 1100, 800</value>
            </setting>
            <setting name="ModelType" serializeAs="String">
                <value>Default.obj</value>
            </setting>
            <setting name="Pec" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Snap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlignmentTabVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowBeeps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BeepFreq" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="BeepDur" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="YAxisCentre" serializeAs="String">
                <value>-102</value>
            </setting>
        </GS.Server.Properties.Server>
        <GS.Server.Properties.SkyTelescope>
            <setting name="Version" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>ps9600</value>
            </setting>
            <setting name="AlignmentMode" serializeAs="String">
                <value>algGermanPolar</value>
            </setting>
            <setting name="AlternatingPPEC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApertureDiameter" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="AtPark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoTrack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DisconnectOnPark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DTREnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Elevation" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EncodersOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EquatorialCoordinateType" serializeAs="String">
                <value>equTopocentric</value>
            </setting>
            <setting name="FocalLength" serializeAs="String">
                <value>1.26</value>
            </setting>
            <setting name="HandShake" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="HomeAxisX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HomeAxisY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HourAngleLimit" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="KingRate" serializeAs="String">
                <value>15.0369</value>
            </setting>
            <setting name="Latitude" serializeAs="String">
                <value>56.76</value>
            </setting>
            <setting name="Longitude" serializeAs="String">
                <value>-5.85</value>
            </setting>
            <setting name="LunarRate" serializeAs="String">
                <value>14.685</value>
            </setting>
            <setting name="Mount" serializeAs="String">
                <value>Simulator</value>
            </setting>
            <setting name="HcSpeed" serializeAs="String">
                <value>Seven</value>
            </setting>
            <setting name="ParkAxisX" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ParkAxisY" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ReadTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="RTSEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SiderealRate" serializeAs="String">
                <value>15.0410671787</value>
            </setting>
            <setting name="SolarRate" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="TraceLogger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RATrackingOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ApertureArea" serializeAs="String">
                <value>0.0269</value>
            </setting>
            <setting name="Temperature" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="GuideRateOffsetX" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="GuideRateOffsetY" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="CanAlignMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanAltAz" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanDoesRefraction" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanDualAxisPulseGuide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanEquatorial" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanFindHome" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanLatLongElev" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanOptics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanPark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanPierSide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanPulseGuide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSetEquRates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSetGuideRates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSetPark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSetPierSide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSetTracking" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSiderealTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSlew" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSlewAltAz" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSlewAltAzAsync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSlewAsync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanUnpark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSyncAltAz" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanTrackingRates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NoSyncPastMeridian" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumMoveAxis" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="VersionOne" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackingRate" serializeAs="String">
                <value>driveSidereal</value>
            </setting>
            <setting name="Refraction" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DecBacklash" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="St4Guiderate" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaximumSlewRate" serializeAs="String">
                <value>3.5</value>
            </setting>
            <setting name="RaBacklash" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GpsPort" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CdCip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="CdCport" serializeAs="String">
                <value>3292</value>
            </setting>
            <setting name="HomeWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSetDeclinationRate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanSetRightAscensionRate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InstrumentDescription" serializeAs="String">
                <value>ASCOM GS Sky Telescope</value>
            </setting>
            <setting name="InstrumentName" serializeAs="String">
                <value>GSServer</value>
            </setting>
            <setting name="GotoPrecision" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="FullCurrent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayInterval" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="HCMode" serializeAs="String">
                <value>Axes</value>
            </setting>
            <setting name="ParkPositions" serializeAs="String">
                <value />
            </setting>
            <setting name="ParkName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="DecPulseToGoTo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LimitTracking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinPulseRa" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MinPulseDec" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SyncLimit" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="GpsBaudRate" serializeAs="String">
                <value>ps4800</value>
            </setting>
            <setting name="UTCOffset" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="HcAntiRa" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HcAntiDec" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpiralPause" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SpiralSpeed" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SpiralFov" serializeAs="String">
                <value>4800</value>
            </setting>
            <setting name="SpiralWidth" serializeAs="String">
                <value>4800</value>
            </setting>
            <setting name="SpiralHeight" serializeAs="String">
                <value>4800</value>
            </setting>
            <setting name="SpiralDistance" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SpiralLimits" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CameraWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CameraHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EyepieceFS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PpecOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PecOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PecOffSet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PecWormFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Pec360File" serializeAs="String">
                <value />
            </setting>
            <setting name="PecMode" serializeAs="String">
                <value>PecWorm</value>
            </setting>
            <setting name="LimitPark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ParkLimitName" serializeAs="String">
                <value />
            </setting>
            <setting name="SyncLimitOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomRaWormTeeth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomDecWormTeeth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomRa360Steps" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomDec360Steps" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomRaTrackingOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomDecTrackingOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomGearing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlobalStopOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HcFlipEW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HcFlipNS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PolarLedLevel" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RaGaugeFlip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrontGraphic" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="AxisTrackingLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowAdvancedCommandSet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="AltAzTrackingUpdateInterval" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="AltAxisLimitOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AltAxisUpperLimit" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="AltAxisLowerLimit" serializeAs="String">
                <value>0</value>
            </setting>
        </GS.Server.Properties.SkyTelescope>
    </userSettings>
</configuration>
